.about_header_wrapper {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: auto;
  margin-bottom: 20vh;

  .about_header {
    h1 {
      font-size: 5rem;
      overflow: hidden;
      @include media("<phone") {
        font-size: 1.5rem;
      }

      @include media(">=phone", "<tablet") {
        font-size: 1.5rem;
      }
      @include media(">=tablet", "<=desktop") {
        font-size: 3rem;
      }
      @include media(">=4k") {
        font-size: 7rem;
      }
    }
    p {
      margin-top: -2rem;
      font-family: "Open Sans";
      font-size: 1.5rem;
      @include media("<phone") {
        font-size: 1rem;
        margin-top: 0;
      }
      @include media(">=phone", "<tablet") {
        font-size: 1.5rem;
        margin-top: 0;
      }
      @include media(">=4k") {
        font-size: 2rem;
      }
    }
  }
  .big_image_wrapper {
    display: block;
    margin-top: 2rem;
    background: red;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
