.demo_banner_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 40vh;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  .demo_banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;

    h1 {
      color: white;
      @include media(">mddesktop", "<=lgdesktop") {
        font-size: 3.5rem;
      }
    }
    form {
      input {
        border: 0px;
        padding: 1rem;
        @include media(">mddesktop", "<=lgdesktop") {
          padding: 2.5rem;
          font-size: 1.5rem;
        }
      }
      .submitBtn {
        background: -webkit-linear-gradient(
          to right,
          #3f5efb,
          #fc466b
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #3f5efb,
          #fc466b
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        color: white;
        width: 150px;
        @include media(">mddesktop", "<=lgdesktop") {
          width: 200px;
        }
      }
    }
  }
}
