.header_wrapper {
  visibility: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  top: 40vh;
  height: 100vh;
  @include media("<phone") {
    height: 130vh;
    display: flex;
  }

  @include media(">=phone", "<=tablet") {
    height: 130vh;
    display: flex;
  }
  @include media(">=tablet", "<=desktop") {
    display: flex;
    height: 120vh;
  }

  .content_wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .stomp_preloader {
      position: absolute;
      z-index: 200;
      height: 1000px;
      width: 1000px;
      @include media("<=phone") {
        height: 300px;
        width: 300px;
      }

      @include media(">=phone", "<=tablet") {
        height: 300px;
        width: 300px;
      }
      @include media(">=tablet", "<=desktop") {
        height: 700px;
        width: 700px;
      }
    }

    .video_wrapper {
      position: absolute;
      .revealer {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 100;
        background: $black;
      }
      video {
        height: 300px;
        opacity: 0.8;
      }
    }
  }
  P {
    position: relative;
    top: 25vh;
    width: 60%;
    text-align: center;
    font-family: "Open Sans";
    opacity: 0.5;
    @include media("<phone") {
      font-size: 10px;
      width: 80%;
      top: 30vh;
    }

    @include media(">=phone", "<=tablet") {
      font-size: 14px;
      width: 80%;
      top: 30vh;
    }
    @include media(">=tablet", "<=desktop") {
      top: 35vh;
    }
  }
  form {
    position: relative;
    z-index: 1000;
    top: 25vh;
    @include media("<phone") {
      top: 35vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include media(">=phone", "<=tablet") {
      top: 35vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include media(">=tablet", "<=desktop") {
      top: 35vh;
    }

    .input {
      background: $input;
      border: 0px;
      padding: 1rem;
      width: 300px;
    }
    .button {
      background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
      border: 0px;
      color: $white;
      padding: 1rem;
      mix-blend-mode: difference;
    }
  }
}

.header_video_wrapper {
  position: relative;
  top: -10vh;
  z-index: 2;
  height: 100vh;
  video {
    width: 100vw;
  }
  @include media("<=phone") {
    display: none;
  }

  @include media(">=phone", "<=tablet") {
    display: none;
  }
  @include media(">=tablet", "<=desktop") {
    display: none;
  }
}
