.header_wrapper {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  position: relative;
  top: 40vh;
  height: 100vh;

  .content_wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .stomp_preloader {
      position: absolute;
      z-index: 200;
      height: 1000px;
      width: 1000px;
    }
    .heading_wrapper {
      display: flex;
      margin: 0px;
      align-items: center;
      height: 150px;
      overflow: hidden;
      z-index: 200;
      h1 {
        font-size: 12rem;
        margin: 0;
      }
    }

    .video_wrapper {
      position: absolute;
      .revealer {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 100;
        background: $white;
      }
      video {
        height: 300px;
        opacity: 0.8;
      }
    }
  }
  P {
    position: relative;
    top: 25vh;
    width: 60%;
    text-align: center;
    font-family: "Open Sans";
    opacity: 0.5;
  }
  form {
    position: relative;
    top: 25vh;
    .input {
      background: $input;
      border: 0px;
      padding: 1rem;
      width: 300px;
    }
    .button {
      background: $black;
      border: 0px;
      color: $white;
      padding: 1rem;
      mix-blend-mode: difference;
    }
  }
}
