.impact_wrapper {
  position: relative;
  top: 0vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 120vh;
  @include media("<phone") {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  @include media(">=phone", "<tablet") {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  @include media(">=tablet", "<=desktop") {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
  }
  @include media(">=desktop", "<mddesktop") {
    display: grid;
  }
  .impact_content {
    grid-column: 1 / span 2;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media("<phone") {
      padding: 1rem;
      align-items: center;
    }

    @include media(">=phone", "<tablet") {
      padding: 1rem;
      align-items: center;
      justify-content: center;
    }
    @include media(">=tablet", "<=desktop") {
      padding: 2rem;
    }
    h1 {
      font-size: 4rem;
      @include media("<phone") {
        font-size: 2rem;
      }

      @include media(">=phone", "<tablet") {
        font-size: 2rem;
      }
      .wrapper_anim_text {
        overflow: hidden;
      }
    }
    p {
      font-size: 1rem;
      font-family: "Open Sans";
      width: 90%;
      margin-top: -2rem;
      @include media("<phone") {
        font-size: 0.7rem;
        margin-top: 0rem;
        width: 70%;
      }

      @include media(">=phone", "<tablet") {
        font-size: 1rem;
        margin-top: 0rem;
        width: 60%;
      }
      @include media(">=desktop", "<mddesktop") {
        margin-top: 0rem;
      }
    }
    .money_text {
      display: flex;
      flex-direction: column;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 5rem;
      @include media("<phone") {
        font-size: 2.6rem;
      }

      @include media(">=phone", "<tablet") {
        font-size: 2.6rem;
      }
      @include media(">=desktop", "<mddesktop") {
        font-size: 3rem;
      }
      span {
        font-size: 1rem;
        font-weight: 500;
      }
    }
    .requestDemoBtn {
      background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
      position: relative;
      top: 2rem;
      border: 0px;
      color: $white;
      font-size: 1rem;
      padding: 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1) !important;
      }
    }
  }

  .impact_nodes {
    grid-column: 3 / span 5;
    padding: 2rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include media("<phone") {
      display: flex;
      flex-direction: column;
    }

    @include media(">=phone", "<tablet") {
      display: flex;
      flex-direction: column;
    }

    .impact_node {
      background: $white;
      font-family: "Open Sans";
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 60%;
      width: 80%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      transition: all 0.2s ease-in;
      border-radius: 20px;
      @include media("<phone") {
        margin: 1rem;
      }

      @include media(">=phone", "<tablet") {
        margin: 1rem;
      }
      &:hover {
        transform: scale(1.1) !important;
        color: white;
        background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
      }
      .icon {
        font-size: 3rem;
      }
    }
  }
}
