.missing_link_wrapper {
  display: flex;
  margin: 10vh;
  flex-direction: column;
  position: relative;
  top: 10vh;
  .heading {
    font-size: 4rem;
    .anim_text_wrapper {
      overflow: hidden;
    }
  }
  .sub_heading {
    font-size: 2rem;
    width: 50%;
    margin-top: -20px;
    opacity: 0.5;
    font-family: "Open Sans";
  }

  .cards_holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .final_card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 1rem;
      padding: 1rem;
      height: 200px;
      transition: all 0.2s ease-in-out;
      border-radius: 10px;

      &:hover {
        opacity: 0.6 !important;
        transform: scale(1.1) !important;
      }

      h1 {
        font-size: 1.2rem;
        font-weight: 500;
      }
      p {
        font-family: "Open Sans";
        font-size: 0.8rem;
        font-weight: 500;
        opacity: 0.6;
      }
      .icon {
        font-size: 3rem;
        margin-bottom: 20px;
      }
    }
    .card_one {
      background-image: url(https://assets-global.website-files.com/5d3e265ac89f6a3e64292efc/5d48ada4d6bb3ed7f8a2b7d8_color-b1.jpg);
    }
    .card_two {
      background-image: url(https://assets-global.website-files.com/5d3e265ac89f6a3e64292efc/5d48ada48f3da11f69aaa3cc_color-b2.jpg);
    }
    .card_three {
      background-image: url(https://assets-global.website-files.com/5d3e265ac89f6a3e64292efc/5d48ada5d6bb3e07bfa2b7d9_color-b3.jpg);
    }
  }
}
