.missing_link_wrapper {
  position: relative;
  top: 4vh;
  display: flex;
  margin: 10vh;
  flex-direction: column;
  position: relative;
  @include media("<phone") {
    align-items: center;
    height: auto;
    margin-top: 0vh;
  }
  @include media(">=phone", "<tablet") {
    align-items: center;
    margin-top: 0vh;
  }
  @include media(">=tablet", "<=desktop") {
    margin-top: 0vh;
  }
  @include media(">=4k") {
    margin-top: 0;
  }
  .heading {
    font-size: 3.8rem;
    overflow: hidden;
    @include media("<phone") {
      font-size: 1.2rem;
    }

    @include media(">=phone", "<tablet") {
      font-size: 1.2rem;
    }
    @include media(">=tablet", "<=desktop") {
      font-size: 2.5rem;
    }
    @include media(">=4k") {
      font-size: 6rem;
    }
  }
  .sub_heading {
    font-size: 2rem;
    width: 70%;
    margin-top: -20px;
    opacity: 0.5;
    font-family: "Open Sans";
    @include media("<phone") {
      font-size: 1rem;
      margin-top: 0px;
      width: 300px;
    }
    @include media(">=phone", "<tablet") {
      font-size: 1rem;
      margin-top: 0px;
      width: 300px;
    }
    @include media(">=tablet", "<=desktop") {
      font-size: 1.2rem;
      margin-top: -5px;
    }
    @include media(">=4k") {
      font-size: 2.5rem;
    }
  }

  .cards_holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include media("<phone") {
      display: flex;
      flex-direction: column;
    }
    @include media(">=phone", "<tablet") {
      display: flex;
      flex-direction: column;
    }
    @include media(">=tablet", "<=desktop") {
      grid-template-columns: 1fr 1fr;
    }
    .final_card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 1rem;
      padding: 1rem;
      height: 350px;
      border-radius: 10px;
      @include media(">=4k") {
        height: 500px;
      }

      h1 {
        font-size: 1.2rem;
        font-weight: 500;
        @include media(">=4k") {
          font-size: 2.5rem;
        }
      }
      p {
        font-family: "Open Sans";
        font-size: 1.2rem;
        font-weight: 500;
        opacity: 0.6;
        @include media(">=4k") {
          font-size: 2rem;
        }
        @include media("<phone") {
          font-size: 1rem;
        }
        @include media(">=phone", "<=tablet") {
          font-size: 1rem;
        }
      }
      .icon {
        font-size: 3rem;
        margin-bottom: 20px;
        @include media(">=4k") {
          font-size: 4rem;
        }
        @include media("<phone") {
          font-size: 2rem;
        }

        @include media(">=phone", "<=tablet") {
          font-size: 2rem;
          padding: 1rem;
        }
        @include media(">=tablet", "<=desktop") {
        }
      }
    }
    .card_one {
      background-image: url(https://assets-global.website-files.com/5d3e265ac89f6a3e64292efc/5d48ada4d6bb3ed7f8a2b7d8_color-b1.jpg);
    }
    .card_two {
      background-image: url(https://assets-global.website-files.com/5d3e265ac89f6a3e64292efc/5d48ada48f3da11f69aaa3cc_color-b2.jpg);
    }
    .card_three {
      background-image: url(https://assets-global.website-files.com/5d3e265ac89f6a3e64292efc/5d48ada5d6bb3e07bfa2b7d9_color-b3.jpg);
    }
  }
}
