.nav_flex {
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: $black;
  width: 80vw;
  z-index: 1000;

  .logo {
    transition: all 0.2s ease-in-out;
    height: 2rem;
    width: 2rem;
    a {
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.2);
    }
  }

  nav ul {
    text-decoration: none;

    li {
      display: inline-block;
      padding: 1rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
        opacity: 0.5;
      }

      a {
        text-decoration: none;
        color: inherit;
        font-family: "Open Sans";
      }
    }
    button {
      background: $black;
      mix-blend-mode: difference;
      border: 0px;
      padding: 0.8rem;
      margin: 1rem;
      color: $white;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
