.request_demo_wrapper {
  position: relative;
  top: -10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  width: 70vw;
  @include media("<phone") {
    top: 0vh;
    height: auto;
  }

  @include media(">=phone", "<tablet") {
    top: 0vh;
    height: auto;
  }

  @include media(">=tablet", "<=desktop") {
    height: auto;
    top: 0vh;
    margin-bottom: 2vh;
  }
  @include media(">=4k") {
    height: 80vh;
    top: 0vh;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include media("<phone") {
      display: flex;
      flex-direction: column;
    }

    @include media(">=phone", "<tablet") {
      display: flex;
      flex-direction: column;
    }

    .input_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        background: $grey;
        border: 0px;
        width: 300px;
        padding: 1.5rem;
        margin: 2rem;
        opacity: 0.9;
        font-family: "Open Sans";
        @include media("<phone") {
          margin: 0rem;
        }
        @include media(">=phone", "<tablet") {
          margin: 0rem;
        }
        @include media(">=4k") {
          padding: 2.5rem;
          font-size: 1.8rem;
        }
      }
      .error {
        color: red;
      }
    }
    .submit_btn_wrapper {
      grid-column: 1 / span 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .submitBtn {
      width: 200px;
      padding: 1.5rem;
      border: 0px;
      background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
      font-weight: 600;
      font-size: 1.2rem;
      color: $white;
      transition: all 0.2s ease-in-out;
      @include media("<phone") {
        margin: 1rem;
      }
      @include media(">=phone", "<tablet") {
        margin: 1rem;
      }
      @include media(">=4k") {
        padding: 2.5rem;
        font-size: 1.8rem;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
