.summary_wrapper {
  position: relative;
  top: 10vh;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90vw;

  @include media("<phone") {
    top: 5vh;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  @include media(">=phone", "<=tablet") {
    top: 5vh;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  @include media(">=tablet", "<=desktop") {
    top: 0vh;
    height: 190vh;
    flex-direction: column-reverse;
  }

  .heading {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .head_text {
      font-weight: 600;
      font-family: "Open Sans";
      text-align: left;
      width: 600px;
      font-size: 1.5rem;
      opacity: 1;
      color: $black;
      @include media("<phone") {
        font-size: 1rem;
        width: 300px;
        text-align: center;
      }

      @include media(">=phone", "<tablet") {
        font-size: 1rem;
        width: 300px;
        text-align: center;
      }
      @include media(">=tablet", "<=desktop") {
        font-size: 2rem;
        width: 600px;
        text-align: center;
      }
    }
    p {
      font-family: "Open Sans";
      text-align: left;
      @include media("<phone") {
        font-size: 1rem;
        width: 300px;
        text-align: center;
      }

      @include media(">=phone", "<tablet") {
        font-size: 1rem;
        width: 300px;
        text-align: center;
      }
      @include media(">=tablet", "<=desktop") {
        font-size: 1rem;
        width: 600px;
        text-align: center;
      }
    }
  }

  .summary_video_wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    video {
      width: 40vw;

      @include media("<phone") {
        width: 100vw;
      }

      @include media(">=phone", "<tablet") {
        width: 100vw;
      }
      @include media(">=tablet", "<=desktop") {
        width: 80vw;
      }
    }
  }

  .learn_how_btn {
    background: #fc466b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #3f5efb,
      #fc466b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #3f5efb,
      #fc466b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 0px;
    width: 50%;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    transition: transform 0.2s ease-in-out;

    @include media("<phone") {
      width: 100%;
    }

    @include media(">=phone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<=desktop") {
      align-self: center;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
