@import "./import-media.scss";
@import "./variables.scss";

// Components
@import "./components/navbar.scss";
@import "./components/header.scss";
@import "./components/summary.scss";
@import "./components/features.scss";
@import "./components//impact.scss";
@import "./components/missinglink.scss";

body,
html {
  user-select: none;
  overscroll-behavior: none;
  margin: 0 auto;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white;
  overflow-x: hidden;

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    top: 20vh;
  }
}

.bg_white {
  background-color: white !important;
}

.bg_black {
  background-color: black;
}
.bg_grey {
  background: #efeeee;
}
