@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap");

@import "./include-media.scss";
@import "./variables.scss";

// Header Components
@import "./components/navbar.scss";
@import "./components/header.scss";
@import "./components/summary.scss";
@import "./components/features.scss";
@import "./components//impact.scss";
@import "./components/missinglink.scss";
@import "./components/requestdemo.scss";
@import "./components/footer.scss";

// About Components
@import "./components/aboutheader.scss";
@import "./components/aboutsectionone.scss";
@import "./components/demobanner.scss";

// 404
@import "./components/404.scss";

body,
html {
  user-select: none;
  overscroll-behavior: none;
  margin: 0 auto;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  overflow-x: hidden;
  transition: all 0.4s ease-in-out;

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    top: 20vh;
    border: 0px;
  }
}

.bg_white {
  background-color: white !important;
}

.bg_black {
  background-color: black;
  color: white;
}
.bg_grey {
  background: #efeeee;
}
.bg_transparent {
  background: transparent !important;
}
